\<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <title>{% block title %}Student Placement Prediction{% endblock %}</title>
</head>

<body>

<div class="wrapper">

    <aside class="sidebar">

        <h2>ML Pipeline</h2>

        <a href="{{ url_for('home') }}">
            Home
        </a>

        <br><br>

        <a href="{{ url_for('upload') }}">
            Upload Data
        </a>

        <br><br>

        <a href="{{ url_for('visualization') }}">
            Visualize Data
        </a>

    </aside>

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

</div>

</body>
</html>