<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Placement</title>
</head>
<body>
<div class = "container">
    <p class="text-muted"> Upload a CSV or Excel file to get started</p>
</div>
<form method = "POST" enctype="multipart/form-data" class="upload-form">
     <label for ="dataset" class="form-label"> Choose CSV / Excel File</label>
   <input type="file" class="form-control" id="dataset" name="dataset" accept=".csv,.xlsx,.xls" required>
</form>
<button>Upload Dataset</button>

</body>
</html>